{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1" />
	<title>Portfolio Sourav</title>
	<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}" charset="utf-8"></script>
	<link rel="stylesheet" href="{% static 'bower_components/foundation-sites/dist/css/foundation.min.css' %}">
	<link rel="stylesheet" href="">
	<script src="{% static 'bower_components/foundation-sites/dist/js/foundation.min.js' %}" charset="utf-8"></script>
	<script src="{% static 'bower_components/normalize-css/normalize.css' %}" charset="utf-8"></script>
	<script src="{% static 'bower_components/typed.js/dist/typed.min.js' %}" charset="utf-8"></script>
	<script src="{% static 'bower_components/jqcloud2/dist/jqcloud.min.js' %}" charset="utf-8"></script>
	<link rel="stylesheet" href="{% static 'bower_components/jqcloud2/dist/jqcloud.min.css' %}">
	<script src="{% static 'bower_components/custombox/dist/custombox.min.js' %}"></script>
	<link href="{% static 'bower_components/custombox/dist/custombox.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/fonts/foundation-icons/foundation-icons.css' %}">
	<link rel="stylesheet" href="{% static 'assets/styles/styles.css' %}">
</head>

<body>
	<div class="wrapper">
		<div class="thin-bar">
		</div>

		<section id="about">
			<div class="row">
				<div class="small-12 large-8 large-offset-2 columns text-center">
					<img class="img-circle" src="{% static 'assets/images/profile_pic.jpg' %}" alt="headshot">
					<div class="details">
						<h2>Hi, I'm Sourav. I...<br> <span id="writing-text"><span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<div class="cta text-center">
						<a class="my-button cta-button expand form-button" href="mailto:souravlayek11@gmail.com">Get In Touch</a>
					</div>
				</div>
				<div class="small-12 column">
					<div class="my-arrow-div text-center">
						<a href="https://github.com/souravlayek"><i class="fa fa-github-alt fa-2x"></i></a>
						<!-- <a href="http://www.youtube.com/souravlayek"><i class="fa fa-youtube fa-2x"></i></a> -->
					</div>
				</div>
			</div>

		</section>


		<section id="experience">

			<div class="row column">
				<div class="small-12">
					<h2 class="text-center">My Experience</h2>
					<p class="text-center tag-line">Specialist in need. Generalist at heart.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-4 columns text-center experience-topics">
					<i class="fi-laptop"></i>
					<h3>Front-end</h3>
					<ul>
						<li>html(5)</li>
						<li>css(3)</li>
						<li>Javascript</li>
						<li>Jquery</li>
						<li>Bootstrap</li>
						<li>Semantics-UI</li>
						<li>Api | Ajax</li>
					</ul>
				</div>
				<div class="small-12 medium-4 columns text-center experience-topics">
					<i class="fi-database"></i>
					<h3>Back-end</h3>
					<ul>
						<li>Django | Python</li>
						<li>NodeJS</li>
						<li>NPM</li>
						<li>Express</li>
						<li>SQL</li>
						<li>Restful Web Services</li>
					</ul>
				</div>
				<div class="small-12 medium-4 columns text-center experience-topics">
					<i class="fi-star"></i>
					<h3>Tools</h3>
					<ul>
						<li>Vim</li>
						<li>Bower</li>
						<li>Atom || Webstorm</li>
						<li>Github && Bitbucket</li>
						<li>SSH</li>
						<li>Gulp</li>
					</ul>
				</div>
			</div>

		</section>

		<section id="work">
			<h2 class="text-center">Work</h2>
			<div class="row">
				<p class="text-center tag-line">Here are few of my former clients.</p>
			</div>
			{% if prj %}
			{% for i in prj %}
				{% if i.id|mod:2 == 0 %}
				<div class="row work-row"> <!-- even -->
					<div class="small-12 medium-6 columns">
						<img src="{{ i.image.url }}" alt="SORRY CANT FIND">
					</div>
					<div class="small-12 medium-5 medium-offset-1 columns">
						<div class="details details-ftm">
							<h3>{{ i.name }}</h3>
							<p class="platform">{{ i.platform }}</p>
							<p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
							<p>{{ i.description }}</p>
							<a class="my-button" target="_blank" href="{{ i.link }}">Visit Website</a>
						</div>
					</div>
				</div>
				{% else %}
				<div class="row work-row"> <!-- odd -->
					<div class="small-12 medium-6 medium-push-6 columns">
						<img src="{{ i.image.url }}" alt="">
					</div>
					<div class="small-12 medium-5 medium-pull-7 columns">
						<div class="details details-ftm">
							<h3>{{ i.name }}</h3>
							<p class="platform">{{ i.platform }}</p>
							<p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
							<p>{{ i.description }}</p>
							<a class="my-button" target="_blank" href="{{ i.link }}">Visit Website</a>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
			{% else %}
			<h2 style="text-align: center;"> No projects yet</h2>
			{% endif %}
		<section id="footer-cta">
			<h2 class="text-center">Wanna work with me?</h2>
			<p></p>
			<div class="row text-center">
				<div class="small-12 medium-8 medium-offset-2 columns">
					<p class="text-center">I'm currently available for work.</p>
				</div>
				<div class="small-12 columns" id="startButtonDiv">
					<a class="my-button form-button" href="mailto:souravlayek11@gmail.com">Start Now</a>
				</div>
			</div>
		</section>
		
		<footer id="footer">
			<div class="row text-center">
				<div class="small-12 medium-6 medium-offset-3 columns">
					<p id="logo">SL</p>
					<p id="copyright">Copyright &copy; 2019 | Sourav Layek</p>
				</div>
			</div>
		</footer>



	</div>
	<script src="{% static 'assets/scripts/app.js' %}" charset="utf-8"></script>
</body>

</html>
